<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
<div class="crypto-container">
	<p class="folder" >💰 Portfolio</p>
	<div class="portfolio">
		<div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="ethereum" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="zclassic" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="stratis" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="icon" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="vertcoin" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="ripple" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="0x" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="tron" data-base="EUR"  data-secondary="BTC"></div>
	</div>
	<p class="folder" >👀 Watchlist</p>
	<div class="watchlist">
		<div class="coinmarketcap-currency-widget" data-currency="bitcoin-cash" data-base="USD"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="dash" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="zcash" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="litecoin" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="neo" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="zcoin" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="tezos" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="dragonchain" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="bread" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="cardano" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="quantstamp" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="verge" data-base="EUR"  data-secondary="BTC"></div>
		<div class="coinmarketcap-currency-widget" data-currency="etherparty" data-base="EUR"  data-secondary="BTC"></div>
	</div>
</div>
